ANTHROPIC_API_KEY=
STELSELCATALOGUS_API_KEY=     #same as DSO_GENERAL_API_KEY=
DSO_GENERAL_API_KEY=
DSO_RP_API_KEY=

DSO_RP_BASE_URL=https://ruimte.omgevingswet.overheid.nl/ruimtelijke-plannen/api/opvragen/v4
DSO_STELSELCATALOGUS_BASE_URL=https://stelselcatalogus.omgevingswet.overheid.nl/api/v3
